# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
.*.sw[po]

### Intellij ###
.idea/
/*.iml

### vim ###
tags

# Exclude vendor directory (godep dependency manager tool)
vendor

# binaries
amqpsnmpqueries
get
snmphttpserver
snmpqueries
sync_snmpqueries
walk
